<math>
	<div ref="math_text">{ text }</div>
	<script>
		this.text = opts.text
		update_rendered(){
			this.refs.math_text.innerHTML = xbbMarkup(this.text)
			MathJax.Hub.Queue(["Typeset", MathJax.Hub, this.refs.math_text]);
		}
		this.on('update', function(){
			this.text = opts.text
			this.update_rendered()
		})

		this.on('mount', function(){
			this.update_rendered()
		})
	</script>
</math>

<gradingbtn>
	<button ref='btn' class="btn" onclick={ click }> { text } </button>
	<script>
	click(e) {
		if (this.parent.solution.verdict === this.verdict)
			new_verdict = null
		else new_verdict = this.verdict
		var url = this.parent.solution._links.judge_url
		$.ajax({
			url: url,
			type: 'POST',
			data: {
				'verdict': new_verdict
			}
		})
		.done(function(data, status){
			var new_verdict = data.verdict
			opts.solution.verdict = new_verdict
			grading.trigger('verdict', new_verdict)
		}.bind(this))
		.fail(function(){
			alert('Request failed, try again.')
		})
	}
	update_color(){
		if (this.parent.solution.verdict === this.verdict)
			this.refs.btn.classList.add(this.active_class)
		else
			this.refs.btn.classList.remove(this.active_class)
		console.log('<gradingbtn> updated')
	}

	// call this to update color on mount
	this.on('mount', this.update_color)

	grading.on('verdict', function(verdict) {
		this.update()
	}.bind(this))

	this.on('update', this.update_color)
	</script>
</gradingbtn>

<comment>
	<textarea ref='textarea' class="form-control" onkeyup={ _commentchange }></textarea>
	<button class="btn { disabled: (!comment||sending) } btn-primary" onclick={ commentClick }>Comment</button>

	<script>
		this.comment = ''
		this.sending = false
		
		commentClick(e) {
			e.preventUpdate = true
			if (this.sending) return
			this.sending = true
			if (!this.comment) return
			var url = this.parent.solution._links.judge_url
			$.ajax({
				url: url,
				type: 'POST',
				data: {
					comment: this.comment
				},
			})
			.done(function (data, status) {
				if (status == 'success'){
					grading.trigger('new_comment', data)
					this.comment = ''
					this.refs.textarea.value = ''
				} 
			}.bind(this))
			.fail(function(){
				alert("Comment failed, try again.")
			}.bind(this))
			.always(function(){
				this.update({sending:false})
			}.bind(this))	
		}
		_commentchange(e){
			var old_val = this.comment
			this.comment = this.refs.textarea.value
			if ( Boolean(old_val) == Boolean(this.comment) ){
				e.preventUpdate = true
			}
		}
		this.on('update', function(){
			console.log('comment updated', this)
		})
	</script>
</comment>

<solution>
	<div class="clearfix">
		<p class="alignleft username"> { user.username }</p> 
		<div class="alignright">
			<button class="btn btn-primary" onClick={ unstageClick }>Unstage</button>
		</div>
	</div>

	<p> Problem: { problem.source } </p>
	<div class="jumbotron"> 
		<math text={ problem.text }></math>
	</div>

	<p> Solution </p>
	<div class="jumbotron">
		<math text={ solution.text }></math>
	</div>

	<div style="margin-bottom: 20px;">
		<gradingbtn each={ grading_btn_items } solution={ solution }></gradingbtn>
	</div>

	<div id="comments_div">
		<h4> Comments </h4>
		<hr>
		<ul>
			<li each={ grading_comments }>
				{ text } <span class="date"> { app.utils.pretty_date(timestamp) }</span> <a title="Delete comment" href="javascript:;" onclick={ deleteCommentClick }> (X) </a>
			</li>
		</ul>
	</div>

	<div style="margin-bottom: 20px;">
		<comment ref='comment'></comment>
	</div>

	<script>
		var self = this
		console.log('solution.opts = ', this.opts)
		this.grading_btn_items = [
			{
				verdict: 0,
				text: 'Correct',
				active_class: 'btn-success'
			},
			{
				verdict: 1,
				text: 'Partial',
				active_class: 'btn-warning'
			},
			{
				verdict: 2,
				text: 'Incorrect',
				active_class: 'btn-danger'
			}
		]
		this.comment = ''

		grading.on('new_comment', function(comment){
			this.grading_comments.push(comment)
			this.update()
		}.bind(this))

		grading.on('verdict', function(new_verdict){
			this.solution.verdict = new_verdict
		}.bind(this))

		_update_attributes(){
			this.item = opts.item
			this.grading_comments = opts.item.grading_comments
			this.solution = opts.item.solution
			this.problem = opts.item.problem
			this.user = opts.item.user
		}
		this._update_attributes()

		unstageClick(e){
			e.preventUpdate = true
			if (!confirm("Are you sure you want to unstage this solution?\nIt will disappear from the stage."))
				return
			var url = this.solution._links.judge_url
			$.ajax({
				url: url,
				type: 'POST',
				data: {
					a: 'unstage'
				}

			})
			.done(function(){
				grading.trigger('unstage')
			}.bind(this))
			.fail(function(){
				alert('Failed to unstage solution.')
			}.bind(this))
		}

		deleteCommentClick(e){
			e.preventUpdate = true
			var grading_comment = e.item
			var url = this.solution._links.judge_url
			$.post(
				url,
				{
					'delete_comment_id': grading_comment.id
				},
				function(data, status){
					if (status == 'success'){
						this._delete_comment(grading_comment)
					}
				}.bind(this)
			)
		}
		_delete_comment (comment){
			var index = this.grading_comments.indexOf(comment)
			if (index > -1){
				this.grading_comments.splice(index, 1)
				this.update()
				grading.trigger('delete_comment', comment)
			}
		}
		this.on('update', function(){
			console.log('<solution> updated', this)
			this._update_attributes()
		})

		this.on('mount', function(){
			console.log('<solution> mounted', this)
		})
	</script>
</solution>
