<math>
	<div ref="math_text" class="bbtext"></div>
	<script>
		update_rendered(){
			this.refs.math_text.innerHTML = xbbMarkup(this.text)
			MathJax.Hub.Queue(["Typeset", MathJax.Hub, this.refs.math_text]);
		}
		this.on('update', function(){
			if (this.text === opts.text)
				return
			this.text = opts.text
			this.update_rendered()
		})
	</script>
</math>
