<submission>
	<div class="submission noselect hover-pointer {selected: selected}" onclick={ select }>
		<span class='username'>{ user.username }</span>
		<span class='label label-{success: solution.verdict==0, warning: solution.verdict==1, danger: solution.verdict==2}'>{ ['correct', 'improve it', 'incorrect'][solution.verdict] }</span><br>
		<span class='problem_source'>{ shorten( problem.source, 30) }</span><br>
		<span class='date'>{ pretty_date( solution.timestamp ) }</span>
	</div>

	<script>
		var item = opts.item
		this.user = item.user
		this.solution = item.solution
		this.problem = item.problem
		select(){
			if (this.selected) return
			selection.trigger('select', opts.item, this)
			this.update({selected: true})
		}
		selection.on('select', function(item, tag){
			if (this.selected && tag != this){
				this.update({selected: false})
			}
		}.bind(this))

		shorten (s, len){
			if (s.length > len){
				var first = len - 8, second = s.length - 5
				return s.slice(0, first) + '...' + s.slice(second, s.length)
			}
			return s
		}
		grading.on('solution_verdict', function(verdict){
			if (this.selected) {
				this.update()
			}

		}.bind(this))

		this.on('update', function(){
			console.log('submission updated')
		})

	</script>	
</submission>

<users>
	<h4>{ opts.title }</h4>
	<hr>
	<ul class="userlist">
		<li each={ item in items }>
			<submission item={ item }></submission>
		</li>
	</ul>

	<script>
		var self = this
		this.items = opts.items

		this.on('mount', function(){
			console.log('users tag mounted:', this)
			var selected_submission = this.tags.submission[opts.selected_index]
			selected_submission.select()
		})
	</script>
</users>
