<row>
	<div class="submission noselect hover-pointer {selected: is_selected}" onclick={ selectClick }>
		<span class='username'>{ user.username }</span>
		<span class='label label-{success: solution.verdict==0, warning: solution.verdict==1, danger: solution.verdict==2}'>{ ['correct', 'partial', 'incorrect'][solution.verdict] }</span><br>
		<span class='problem_source'>{ shorten( problem.source, 30) }</span><br>
		<span class='date'>{ app.utils.pretty_date( solution.state_timestamp ) }</span>
	</div>

	<script>
		this.user = opts.user
		this.solution = opts.solution
		this.problem = opts.problem
		this.is_selected = opts.is_selected | false

		selectClick(e){
			if (this.is_selected){
				e.preventUpdate = true
				return
			}
			this.parent.trigger('select', this)
			this.is_selected = true
			this.select()
		}

		select(){
			console.log('selecting', this)
			this.update({is_selected: true})
		}
		disselect(){
			console.log('disselecting', this)
			this.update({is_selected: false})
		}

		shorten(s, len){
			if (s.length > len){
				var first = len - 8, second = s.length - 5
				return s.slice(0, first) + '...' + s.slice(second, s.length)
			}
			return s
		}
		grading.on('verdict', function(verdict){
			if (this.is_selected){
				this.update()
			}
		}.bind(this))

		this.on('update', function(){
			console.log('<row> updated')
		})

		this.on('mount', function(){
			console.log('<row> mounted', this)
		}.bind(this))
	</script>	
</row>

<submissions>
	<div class="row">
		<div class="col-sm-3" id="left_col">
			<h4> Submissions </h4>
			<ul class="submission-container no-bullet">
				<li each={ items }>
					<row item={item} solution={solution} user={user} problem={problem}></row>
				</li>
			</ul>
		</div>
		<div class="col-sm-9" id="right_col">
			<h4 if={ items.length == 0 }> No submissions </h4>
			<solution if="{ selection_index >= 0 && items[selection_index] }" item="{ items[selection_index] }"></solution>
		</div>
	</div>

	<script>
		this.items = opts.items
		this.selection_index = opts.selection_index || 0

		get_selected_row(){
			var row_tags = this.get_rows()
			return row_tags[this.selection_index]
		}

		get_rows(){
			if (!this.tags.row){
				return []
			}
			else if (this.tags.row instanceof Array) {
				return this.tags.row
			}
			else {
				return [this.tags.row]
			}
		}

		update_solution(){
			var item = this.items[this.selection_index]
			this.tags.solution.update({
				solution: item.solution,
				problem: item.problem,
				user: item.user,
				grading_comments: item.grading_comments
			})
		}

		grading.on('unstage', function(){
			// remove the corresponding item from items
			console.log("unstaging")
			var index = this.selection_index
			console.log("selection_index = ", index)
			this.items.splice(index, 1)
			this.update()
			console.log("items after splice:", this.items)
			if (this.items.length == 0) {
				return
			}
			if (index == this.items.length){
				--index
			}
			console.log('now selection_index = ', index)
			var row_tag = this.get_rows()[index]
			row_tag.select()
			this.selection_index = index
			this.update()
		}.bind(this))

		this.on('select', function(tag){
			this.get_rows()[this.selection_index].disselect()
			this.selection_index = this.get_rows().indexOf(tag)
			this.update()
		})

		this.on('mount', function(){
			console.log('<submissions> mounted:', this)
			this.selected_row = this.get_rows()[this.selection_index]
			if (!this.selected_row){
				console.debug('no rows to view')
				return
			}
			this.selected_row.select()
			console.log('selected_row', this.selected_row)
		})

		this.on('update', function(){
			console.log('<submissions> updated:', this)
		})
	</script>
</submissions>
