.ace_editor {
    border: 1px solid rgb(170, 170, 170);
    margin-bottom: 25px;
}

html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }

.footer {
    width: 300px;
    margin: auto;
    padding-top: 20px;
}

/* Trick: */
body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 80px; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}


.solution-head
{
  display: block;
  overflow: auto;
  padding: 4px 6px;
  color: #000;
  clear: both;
  background-color: #f6e9d9;
}
.solution-head .options { float:right }
.solution-head .name { float:left }

.jumbotron p {
	font-size: inherit;
  margin-bottom: 0px;
}
.jumbotron {
    padding: 30px;
}

/* Admin Solution */
.submission-container{
  padding: 5px;
}

.submission {
  display: block;
  padding: 5px;
  border-bottom: solid 1px #ccc;
  overflow: auto;
}

.submission .username {
  font-size: 12px;
  font-weight: bold;
}

.submission .date {
  font-size: 10px;
  color: #f88;
}
.submission .problem_source {
  color: #999;
  font-size: 12px;
}
.submission.selected {
  background-color: #ff7;
}

.date {
  color: #999;
}
.hover-pointer {
  cursor: pointer;
}
.grading_btn:hover {
  
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}
.btn.disabled{
  opacity: 0.3;
  cursor: default;
}
ul.no-bullet {
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.alignleft{
  float: left;
}

.alignright{
  float: right;
}

p.username {
  font-weight: bold;
}
