<recent-solutions-row>
	<div class="small recent-solutions-news-row">
		<a href="{ opts.item._links.solution }" style="display: inline-block;	">{opts.item.problem_source}</a><br>
		<span if={verdictLabelClass[opts.item.verdict]} class="label label-{verdictLabelClass[opts.item.verdict]}">{ verdictLabelText[opts.item.verdict] }</span>
		<span if={opts.item.state == 1} class="label label-primary">staged</span>
		<span class="date alignright">{app.utils.pretty_date(opts.item.modified_date)}</span>
		<div class="clearfix"></div>
	</div>
	<style>
		.recent-solutions-news-row{
			border-bottom: solid 1px #ccc;
			padding: 5px;
		}
	</style>
	<script>
		verdictLabelClass = {
			0: 'success',
			1: 'warning',
			2: 'danger',
		}
		verdictLabelText = {
			0: 'correct',
			1: 'partial',
			2: 'incorrect',
		}
	</script>

</recent-solutions-row>


<recent-solutions-news>
	<recent-solutions-row each={ items } item={this}></recent-solutions-row>
	<p if={ next_url }><a href="javascript:;" ref="loader" class="load-more" onClick={ loadMore }>
		{this.loading?'Loading...':'Load More'}</a>
	</p>
	<style>
		a.load-more{
			display: block;
			text-align: center;
		}
	</style>

	<script>
		this.user = opts.user
		this.items = []
		this.next_url = opts.recent_solutions_news_url
		this.loading = true
		loadMore(){
			this.loading = true
			$.ajax({
				url: this.next_url,
				type: 'GET',
			})
			.done(function(data, status){
				Array.prototype.push.apply(this.items, data.items)
				this.next_url = data.next_url
				console.log('<recent-solutions-new> loaded more', this)
			}.bind(this))
			.fail(function(status){
				alert('Loading recent solutions news failed with status ' + status)
			})
			.always(function(){
				this.loading = false
				this.update()
			}.bind(this))
		}

		this.on('mount', function(){
			console.log('<recent-solutions-news> mounted', this)
			this.loadMore()
		}.bind(this))
	</script>
</recent-solutions-news>