<verdict-news-row>
	<div class="verdict-news-row">
		<p> <span class="username"> <a href="{ opts.item._links.user }"> { (opts.item.username==parent.user.username) ? "Your" : opts.item.username + "'s"}</a></span>
			solution to problem 
			<a href="{ opts.item._links.solution }">{opts.item.problem_source}</a> 
			has been evaluated to 
			<span class="label label-{verdictLabelClass[this.opts.item.verdict]}">{ verdictLabelText[this.opts.item.verdict] }</span>.
		</p>
		<span class="date alignright">{app.utils.pretty_date(opts.item.timestamp)}</span>
		<div class="clearfix"></div>
	</div>
	<style>
		.verdict-news-row{
			border-radius: 5px;
			border: solid 1px #ccc;
			padding: 18px;
		}
		span.username {
			font-weight: bold;
			color: #88f;
		}
	</style>
	<script>
		verdictLabelClass = {
			0: 'success',
			1: 'warning',
			2: 'danger',
		}
		verdictLabelText = {
			0: 'correct',
			1: 'partial',
			2: 'incorrect',
		}
	</script>

</verdict-news-row>

<verdict-news>
	<verdict-news-row each={ items } item={this}></verdict-news-row>
	<p if={ next_url }><a href="javascript:;" ref="loader" class="load-more" onClick={ loadMore }>
		{this.loading?'Loading...':'Load More'}</a>
	</p>
	<style>
		a.load-more{
			display: block;
			text-align: center;
		}
	</style>


	<script>
		this.user = opts.user
		this.items = []
		this.next_url = opts.verdict_news_url
		this.loading = true
		
		loadMore(){
			this.loading = true
			$.ajax({
				url: this.next_url,
				type: 'GET',
			})
			.done(function(data, status){
				Array.prototype.push.apply(this.items, data.items)
				this.next_url = data.next_url
				console.log('<recent-solutions-new> loaded more', this)
			}.bind(this))
			.fail(function(status){
				alert('Getting verdict news failed with status ' + status)
			})
			.always(function(){
				this.loading = false
				this.update()
			}.bind(this))
		}

		this.on('mount', function(){
			console.log('<verdict-news> mounted', this)
			this.loadMore()
		}.bind(this))
	</script>
</verdict-news>
