{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles %}
{{super()}}
    <style type="text/css" media="screen">
        #editor { 
            height: 300px;
        }
        #problem_text{
            min-height: 150px;
        }
    </style>
{% endblock %}

{% block app_content %}
    <div>
        <button type="button" class="btn btn-primary" onclick="newProblem()" id="btn_new_problem">New Problem</button>
        <button type="button" class="btn btn-primary" onclick="loadProblem()" id="btn_edit_problem">Load Problem</button>
        <span id="edit_mode_bar">
            <input type="text" class="form-control" id="problem_id" placeholder="Problem ID" style="display: inline; width: 150px;">
            <button type="button" class="btn btn-danger" onclick="deleteProblem()" id="btn_delete_problem">Delete</button>
        </span>
        <button type="button" class="btn btn-success" onclick="submitProblem()" id="btn_submit_problem">Save</button>
    </div> <br>

    <input type="hidden" id="mode">
    <input type="hidden" id="problem_text">
    <div id="problem_id_container">

    </div>
    <div id="editor_area">
        <label for="problem_id">Source</label>
        <input type="text" class="form-control" id="source">
        <label for="collection_id">Collection</label>
        <select class="form-control" id="collection_id"></select>
        <label for="problem_id">Difficulty</label>
        <input type="number" class="form-control" id="difficulty">
        <div id="problem_preview" class="jumbotron"></div>
        <div id="editorTopbar">
            <button type="button" class="btn btn-default" onclick="refreshMathJax()" style="display: inline;">Refresh</button>
            <input type="text" class="form-control" id="aops_url" placeholder="AoPS URL" style="display: inline; width: 500px;">
        </div>
        <div id="editor"></div>
    </div>
    
{% endblock %}

{% block scripts %}
{{super()}}
    {% include '_mathjax-head.html' %}
    {% include '_ace-head.html' %}
    <script src="/static/libs/notify/notify.min.js" type="text/javascript"></script>
    <script>
        $("#editor_area").hide();

        var editor = ace.edit("editor")
        editor.session.setMode("ace/mode/tex")
        editor.session.setOptions({
            wrap: true,
            indentedSoftWrap: false,
        });
        if (sessionStorage.getItem('ace_text')){
            var ace_text = sessionStorage.getItem('ace_text')
            editor.setValue(ace_text)
        }
        editor.on('change', function(){
            sessionStorage.setItem('ace_text', editor.getSession().getValue())
        })
    </script>

    <script type="text/javascript">
        var pageData = {{pageData|tojson|safe}}
        {% raw %}
        var coll_select_template = `{{#.}}<option value="{{id}}">{{name}}</option>{{/.}}`
        {% endraw %}
        var html = Mustache.render(coll_select_template, pageData.collections);
        $(html).appendTo("#collection_id");
    </script>
    <script type="text/javascript">
        var mode = $("#mode")
        $(document).ready(function (){
            var val = mode.val();
            if (!val) val = "new";
            setMode(val);
        });
        function setMode(val, force){
            console.log("setting mode to", val);
            if (val == "edit") {
                $("#editor_area").show();
                $("#edit_mode_bar").show();
                $("#btn_new_problem").show();
            } else if (val == "new") {
                $("#editor_area").show();
                $("#edit_mode_bar").hide();
                if ( (val != mode.val()) || force){
                    resetValues();
                    refreshMathJax();
                }
            }
            mode.val(val);
        }
        function getMode(){
            return mode.val();
        }
        function newProblem(){
            setMode("new", true);
        }
        function resetValues(){
            $("#editor_area input").val("");
            $("#editor_area select").val("");
            $("#problem_id").val("");
            editor.getSession().setValue("");
        }
        function fetchAndLoadProblem(problem_id){
            var url = "?problem_id="+problem_id;
            $.ajax({
                url: url,
                complete: function(xhr, status) {
                    if (xhr.status == 0 || status != "success") {
                        $.notify("Request failed"); 
                        return;
                    }
                    var j = xhr.responseJSON;
                    if (j.status == 'success') loadProblem(j.problem);
                    else $.notify("failed: " + j.message);
                }
            });

        }
        function deleteProblem(){
            var problem_id = $("#problem_id").val();
            if (confirm("Are you sure you want to delete the problem?")){
                var url = "?problem_id="+problem_id+"&action=delete";
                $.ajax({
                    url: url,
                    complete: function(xhr, status) {
                        if (xhr.status == 0 || status != "success") {
                            $.notify("Request failed");
                            return;
                        }
                        var j = xhr.responseJSON;
                        if (j.status == "success") {
                            $.notify("Successfully deleted", "success");
                            resetValues();
                            setMode("edit");
                        }
                        else $.notify("failed: " + j.message);
                    }
                });
            }
        }
        function loadProblem(problem){
            setMode("edit");
            if (!problem) { $("#problem_id").focus(); return;}
            $("#problem_id").val(problem.id);
            $("#source").val(problem.source);
            $("#difficulty").val(problem.difficulty);
            $("#collection_id").val(problem.collection_id);
            editor.getSession().setValue(problem.text);
            refreshMathJax();
            $("#editor_area").show();
        }
        function submitProblem(){
            data = {
                mode: mode.val(),
                id: $("#problem_id").val(),
                text: editor.getSession().getValue(),
                source: $("#source").val(),
                difficulty: $("#difficulty").val(),
                collection_id: $("#collection_id").val()
            };
            $.ajax({
                url: window.location.pathname,
                type: "post",
                data: data,
                complete: function(xhr, status) {
                    if (xhr.status == 0|| status != "success") {
                        $.notify("Save request failed"); 
                        return;
                    }
                    var j = xhr.responseJSON;
                    if (j.status == 'success') {
                        if (mode.val() == "new") {
                            $("#problem_id").val(j.problem_id);
                            setMode("edit");
                        }
                        $.notify("Successfully saved", "success");
                    }
                    else $.notify("Save failed: " + j.message);
                }
            });
        }
        $('#problem_id').keydown(function(e){
            if(e.keyCode == 13){
                editor.getSession().setValue("");
                refreshMathJax();
                var problem_id = this.value;
                fetchAndLoadProblem(problem_id);
            }
        });
        function fetchAndLoadAopsProblem(url){
            $.ajax({
                url: url,
                complete: function(xhr, status) {
                    if (xhr.status == 0 || status != "success") {
                        $.notify("Request failed"); 
                        return;
                    }
                    var j = xhr.responseJSON;
                    if (j.status == 'success'){
                        $.notify("Successfully fetched AoPS post", "success")
                        editor.getSession().setValue(j.problem_text);
                        refreshMathJax();
                    }
                    else {
                        $.notify("failed: " + j.message);
                        editor.getSession().setValue('');
                    }
                }
            });

        }
        $('#aops_url').keydown(function(e){
            if(e.keyCode == 13){
                var aops_url = $("#aops_url").val();
                var url = "/aops-scrape?aops_url="+aops_url;
                console.log("will fetch post from aops url" + aops_url);
                fetchAndLoadAopsProblem(url);
                refreshMathJax();
            }
        });
    </script>

    <script>
      function refreshMathJax(){
        var problem_preview = $("#problem_preview")[0];
        changeHtml(problem_preview, editor.getSession().getValue());
        MathJax.Hub.Queue(["Typeset", MathJax.Hub, problem_preview]);
      };
    </script>
{% endblock %}
