{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
	<submissions></submissions>
{% endblock %}

{% block scripts %}
{{super()}}
{% include '_mathjax-head.html' %}
{% include '_riot-head.html' %}

<script type="riot/tag" src="{{ tag_path('solution_submissions.html') }}"></script>
<script type="riot/tag" src="{{ tag_path('solution_solution.html') }}"></script>

<script type="text/javascript">
	var pageData =  {{ pageData|tojson|safe }}
	var selection = riot.observable()
	var grading = riot.observable()
	riot.mount('submissions', {
		items: pageData.items,
		selected_index: 0
	})
</script>

{% endblock %}
