{% extends 'base.html' %}

{% block app_content %}
	<a href="{{url_for('admin.problem')}}"> Manage problems </a> <br>
	<a href="{{url_for('admin.collection')}}"> Manage collections </a>  <br>
	<a href="{{url_for('admin.solution')}}"> Manage solutions </a>  <br>
{% endblock %}
