{% for problem in problems %}
    <div class="thumbnail" style="padding: 15px;">
        {% include '_problem.html' %}
        <p align="right"><a href="{{url_for('main.solve', problem_id=problem.id)}}" style="margin: auto;">Solve</a></p>
    </div>
{% endfor %}
