{% extends 'bootstrap/base.html' %}

{% block metas %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock metas %}

{% block title %}
    {% if title %} {{ title }} - Math Club Portal</title> {% else %} Math Club Portal</title> {% endif %}
{% endblock title %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/libs/xbbcode/xbbcode.css">
<link rel="stylesheet" type="text/css" href="/static/css/app.css">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Math Club Portal</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li><a href="{{ url_for('main.collections') }}">Collections</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
    <footer style="background:#e9e9e9;">
        <div class="footer">
            <p align="center">&copy; Copyright 2019: LFGS Math Club</p>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="/static/js/app.js"></script>
<script type="text/javascript" src="/static/libs/xbbcode/xbbcode.js"></script>
<script type="text/javascript" src="/static/libs/mustache/mustache.min.js"></script>

<script type="text/javascript">
    $(".bbtext").each(function(index, element) {
        $(element).ready( function () {
            xbbMarkup(element);
        });
    });
    function xbbMarkup(element){
        if (element instanceof Element) var text = element.innerHTML;
        else var text = element;

        var result = XBBCODE.process({
            text: text,
            removeMisalignedTags: false,
            addInLineBreaks: true
        });

        if (element instanceof Element) element.innerHTML = result.html;
        else return result.html;
    };
    function changeHtml(selector, html) {
        var elem = $(selector);
        var data = { elements: elem, content: { current: elem.html(), pending: html} };
        jQuery.event.trigger('htmlchanging', data);
        elem.html(data.content.pending);
        jQuery.event.trigger('htmlchanged', { elements: elem, content: html });
    }

    $(document).bind('htmlchanging', function (e, data) {
        //your before changing html, logic goes here
        data.content.pending = xbbMarkup(data.content.pending);
    });
    $(document).ready(function(){
        $('.pretty-date').each(function(index, element){
            element.innerHTML = app.utils.pretty_date(element.innerHTML)
        })
    })

</script>
{% endblock %}

