{% extends "base.html" %}


{% block app_content %}
    <ul class="sitemap">
    <h1>{{collection.name}}</h1>
    {%- for item in collection.children recursive %}
        {% if loop.depth > 0 %}
            <li><a href="{{ url_for('main.collections', collection_id=item.id) }}">{{ item.name }}</a>
        {% endif %}
        {%- if item.children -%}
            <ul class="submenu">{{ loop(item.children) }}</ul>
        {%- endif %}</li>
    {%- endfor %}
    </ul>
    <div class="problems">
    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
    {% include '_mathjax-head.html' %}

    <script type="text/javascript">
        pageData = {{pageData|tojson|safe}};
        {% raw %}
        var template = `
        <div class="thumbnail" style="padding: 15px;">
            <span class="problem-text bbtext">{{{text}}}</span>
            <p align="right"><i>Source: {{source}}</i></p>
            <p align="right"><a href="{{url}}" style="margin: auto;">Solve</a></p>
        </div>`
        {% endraw %}

        $(document).ready(function () {
            pageData.problems.forEach(function(item, index) {
                item.text = xbbMarkup(item.text);
                var p = Mustache.to_html(template, item);
                $(p).appendTo(".problems");
            });
        });
    </script>
{% endblock %}

