{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <div class="row">
    	<div class="col-sm-8">
    		<verdict-news></verdict-news>
    	</div>
    	<div class="col-sm-4">
    		<h4 class='alignright'>Recent Solutions</h4>
    		<div class="clearfix"></div>
    		<recent-solutions-news></recent-solutions-news>
    	</div>
    </div>

{% endblock %}

{% block scripts %}
{{ super() }}
	{% include "_riot-head.html" %}
	<script type="text/javascript">
		var pageData = {{ pageData|tojson|safe }}
	</script>
	<script type="riot/tag" src="{{ verdict_news_tag_url }}"></script>
	<script type="riot/tag" src="{{ recent_solutions_news_tag_url }}"></script>
	<script type="text/javascript">
		riot.mount(
			"verdict-news", 
			{
				verdict_news_url: pageData.verdict_news_url,
				user: pageData.user,
			}
		)
		riot.mount(
			"recent-solutions-news",
			{
				recent_solutions_news_url: pageData.recent_solutions_news_url,
				user: pageData.user,
			}	
		)
	</script>
{% endblock %}