{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<solve></solve>
{% endblock %}


{% block scripts %}
    {{super()}}
    {% include '_mathjax-head.html' %}
    {% include '_ace-head.html' %}
    {% include '_riot-head.html' %}

    <script type="riot/tag" src={{ tag_path('solve.tag') }}></script>
    <script type="text/javascript">
        pageData = {{pageData|tojson|safe}}
        riot.mount('solve', { solutions: pageData.solutions, problem: pageData.problem })

        function editSolution(elem){
            sessionStorage.setItem("edit_solution_id", elem.solution.id)
            editor.setValue(elem.solution.text);
            var html = Mustache.to_html(editor_topbar_template, {index: elem.solution.index});
            $("#editorTopbar").html(html);
        };

        function cancelEdit(){
            editor.setValue("");
            $("#editorTopbar").empty();
        };

        function saveEdit(){
            var solution_id = sessionStorage.getItem("edit_solution_id");
            // get elem that corresponds to solution_id
            var elem;
            for (e of $(".solution")){
                if (e.solution.id == solution_id) {
                    elem = e;
                    break;
                }
            }
            if (!elem) {
                alert("Failed to save. Refresh page.");
                return;
            }
            var text = editor.getValue();
            $.post("/solution", 
                {
                    "action": "edit",
                    "solution_id": elem.solution.id,
                    "text": text
                },
                function (data, status){
                    if (data.edit_status == 'success'){
                        changeHtml($(elem).find('.solution_text')[0], text);
                    } else {alert("Failed to save.")}
                    console.log("received:", data, "status:", status);
                }
            );
        }
    </script>

{% endblock %}
